:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --accent-color-transp: rgba(33, 150, 243, 0.9);
  --bgd-color-section: #f5f4fa;
  --bgd-color-accent: #2f303a;
  --icon-primary-color: #afb1b8;
  --icon-background-color: rgba(255, 255, 255, 0.1);
  --modal-background: rgba(0, 0, 0, 0.2);
  --subscribe-text-color: rgba(255, 255, 255, 0.6);
  --subscribe-border-color: rgba(255, 255, 255, 0.3);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --button-accent-color: #188ce8;
}

/* general */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-color);

  font-family: roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.button {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* logo header */

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--logo-color);
}

.logo__accent {
  color: var(--accent-color);
}

/*  navigation header */

.site-nav {
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0px;
}

.site-nav__link {
  display: inline-flex;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  content: "";
  background-color: var(--accent-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

/* contacts header */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__item {
  margin-right: 50px;
}

.contacts__item:last-child {
  margin-right: 0;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  padding: 200px 0px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bgd.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-white-color);

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero__button {
  margin-top: 30px;
  padding: 10px 32px;

  border: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
  text-shadow: 0px, 4px, 4px, rgba(0, 0, 0, 0.15);
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
}

.callback-box {
  margin-left: auto;
  margin-right: auto;
}

.callback-box__caption {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.callback {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.callback__label {
  margin-bottom: 4px;
  color: var(--secondary-color);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.callback__wrapper {
  position: relative;
  margin-bottom: 10px;
}

.callback__input {
  width: 448px;
  height: 40px;
  padding: 14px 15px 14px 36px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  outline: 0;
  fill: var(--primary-color);

  font-size: 12px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__input:focus {
  border-color: var(--accent-color);
}

.callback__input:focus + .callback__icon {
  fill: var(--accent-color);
}

.callback__comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  outline: 0;
  resize: none;

  font-size: 12px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.callback__comment:focus {
  border-color: var(--accent-color);
}

.terms {
  margin-top: 20px;
}

.terms__label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}

.terms__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.terms__icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
}

.terms__checkbox:checked + .terms__icon {
  background-color: var(--accent-color);
  border: 0px;
}

.terms__checkbox:focus + .terms__icon {
  border-color: var(--accent-color);
}

.callback__button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 0;

  text-align: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__button:hover,
.callback__button:focus {
  background-color: var(--button-accent-color);
}

/* section features */

.features__list {
  display: flex;
}

.features__item {
  margin-right: 30px;
}

.features__item:last-child {
  margin-right: 0;
}

.features__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgd-color-section);
  width: 270px;
  height: 120px;

  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__subtitle {
  margin-top: 30px;
  color: var(--primary-color);
  text-transform: uppercase;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.features__description {
  margin-top: 10px;

  color: var(--secondary-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section works */
.works {
  padding-top: 0;
  text-align: center;
}

.works__list {
  display: flex;
  margin-top: 50px;
}

.works__item {
  position: relative;
  margin-right: 30px;
}

.works__item:last-child {
  margin-right: 0;
}

.works__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
}

.works__title {
  color: var(--primary-white-color);
  text-transform: uppercase;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* section team */
.team {
  background-color: var(--bgd-color-section);

  text-align: center;
}

.team__list {
  display: flex;
  margin-top: 50px;
}

.team-card {
  margin-right: 30px;

  background-color: var(--primary-white-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-card:last-child {
  margin-right: 0;
}

.team-card__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card__subtitle {
  color: var(--primary-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-card__description {
  margin-top: 10px;

  color: var(--secondary-color);

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.socials {
  display: flex;
  gap: 10px;
}

.team-card__socials {
  justify-content: center;
  margin-top: 16px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  fill: var(--icon-primary-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.socials__icon {
  width: 20px;
  height: 20px;
}

/* clients */
.clients {
  text-align: center;
}

.clients__list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--icon-primary-color);
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgd-color-accent);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__box {
  flex-grow: 1;
}

/* footer logo */
.footer__logo {
  color: var(--primary-white-color);
}

/* footer address */
address {
  margin-top: 20px;
  font-style: normal;
}

.address__item {
  margin-top: 9px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__map {
  color: var(--primary-white-color);
}

.address__email,
.address__phone {
  color: rgba(255, 255, 255, 0.6);
}

.address__email:hover,
.address__email:focus,
.address__phone:hover,
.address__phone:focus,
.address__map:hover,
.address__map:focus {
  color: var(--accent-color);
}

/* footer socials */

.socials-box {
  margin-left: 70px;
}

.socials-box__subtitle {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__socials {
  margin-top: 20px;
}

.socials__link--white {
  fill: var(--primary-white-color);
  background-color: var(--icon-background-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer form */

.subscribe-box {
  margin-left: 93px;
}

.subscribe__label {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe__wrapper {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  height: 50px;
}

.subscribe__input {
  display: inline-block;
  padding: 15px 16px;
  width: 358px;
  height: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--subscribe-border-color);

  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--subscribe-text-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: 0;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 10px 28px;
  width: 200px;
  height: 100%;

  fill: var(--primary-white-color);
  border: 0;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: var(--button-accent-color);
}

.subscribe__icon {
  width: 24px;
  height: 24px;
}

/*  section portfolio */

.filter {
  display: flex;
  justify-content: center;
}

.filter__item {
  margin-right: 8px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__button {
  padding: 6px 22px;

  color: var(--primary-color);
  background-color: var(--bgd-color-section);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:first-child {
  padding: 6px 25px;
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -30px;
  margin-bottom: -30px;
}

.card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;

  background-color: var(--primary-white-color);
}

.card__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover,
.card__link:focus {
  display: block;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
  0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card__wrapper {
  position: relative;
  overflow: hidden;
}


.card__popup {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;

  padding-left: 24px;
  padding-right: 24px;

  background-color: var(--accent-color-transp);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover .card__popup,
.card__link:focus .card__popup {
  transform: translateY(-100%);
}

.card__thumb {
  padding: 20px 24px;
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}

.card__subtitle {
  color: var(--primary-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__description {
  margin-top: 4px;

  color: var(--secondary-color);
  line-height: 1.88;
  letter-spacing: 0.03em;
