$primaryColor: #212121;
$secondaryColor: #757575;
$primaryWhiteColor: #ffffff;
$accentColorTransp: rgba(33, 150, 243, 0.9);
$accentColor: #2196f3;
$logoColor: #000000;
$bgdColorSection: #f5f4fa;
$bgdColorAccent: #2f303a;
$iconPrimaryColor: #afb1b8;
$iconBackgroundColor: rgba(255, 255, 255, 0.1);
$modalBackground: rgba(0, 0, 0, 0.2);
$subscribeTextColor: rgba(255, 255, 255, 0.6);
$subscribeBorderColor: rgba(255, 255, 255, 0.3);
$modalBorderColor: rgba(33, 33, 33, 0.2);
$placeholderColor: rgba(117, 117, 117, 0.5);
$buttonAccentColor: #188ce8;
